<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Информация</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    <%- include ('./blocks/header.ejs') %>
    <div class="selection orange lighten-1 start-section">
      <div class="conteiner">
        <p>Стоимость доставки 100 р.;</p>
        <p>При заказе от 500 р. доставка бесплатна;</p>
        <p>При заказе 2-х пицц скидка 10%;</p>
        <p>При заказазе от 3-х пицц скидка 15%;</p>
      </div>
    </div>
    <%- include ('./blocks/buttom.ejs') %>
  </body>
</html>