<div class="partners-logo grey lighten-3">
    <div class="conteiner1">
      <div class="row">
        <div class="col s6 m2 center-align">
          <img src="./public/img/01.png" alt="" class="responsive-img">
        </div>
        <div class="col s6 m2 center-align">
          <img src="./public/img/02.png" alt="" class="responsive-img">
        </div>
        <div class="col s6 m2 center-align">
          <img src="./public/img/03.png" alt="" class="responsive-img">
        </div>
        <div class="col s6 m2 center-align">
          <img src="./public/img/04.png" alt="" class="responsive-img">
        </div>
      </div>
    </div>
  </div>