<div class="navbar-fixed">
    <nav class="orange darken-1">
        <div class="container">
            <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img class="responsive-img" src="./public/img/logo1.png" alt="logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/info">Информация</a></li>
                <li><a href="https://nodejs.org/en/">NodeJS</a></li>
            </ul>
            </div>
        </div>
    </nav>
</div>